@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans+Extra+Condensed:ital,wght@0,200;0,300;0,400;1,600&display=swap');

$primaryColor: #222222;
$secondaryColor: #6FC6FF;

$titleText: 'Fira Sans Extra Condensed', sans-serif;